<table style="width:100%">
    <thead>
        <tr>
            <td>Public Key</td>
            <td>Contri&shy;butors</td>
            <td>Operator Fee (%)</td>
            <td>Staking Requirement</td>
            <td title="Can also be the height of the last IP penalty or recommission">Active Since Height</td>
            <td>Last Uptime Proof</td>
            <td>Expiry Date UTC (Estimated)</td>
        </tr>
    </thead>

    <tbody>
        {%for sn in (active_sns | sort(attribute='last_uptime_proof,service_node_pubkey'))[:limit_active]%}

            <tr>
                {%include 'include/sn_kcf.html'%}
                <td>{{sn.staking_requirement | oxen(tag=false, fixed=true)}}</td>
                <td>{{sn.state_height}}</td>
                <td>{{sn.last_uptime_proof | from_timestamp | ago if sn.last_uptime_proof > 0 else "Not Received"}}</td>
                <td>
                    {%if sn.requested_unlock_height%}
                        <span title="Service Node unlock in progress (unlocks at block {{sn.requested_unlock_height}})">🔓</span>
                        {{((sn.requested_unlock_height - info.height) * 120 + server.datetime.timestamp()) | from_timestamp | format_datetime('short')}}
                        ({{((sn.requested_unlock_height - info.height) * 120) | reltime}})
                    {%else%}
                        Staking Infinitely
                    {%endif%}
                </td>
            </tr>
        {%endfor%}
    </tbody>
    {%if limit_active and active_sns|length > limit_active%}
    <tr>
        <td class="sn-more" colspan="7"><a href="/service_nodes">+ {{active_sns|length - limit_active}} more ↪</a></td>
    </tr>
    {%endif%}
</table>
