<table style="width:100%">
    <thead>
        <tr>
            <td>Public Key</td>
            <td>Contributors</td>
            <td>Operator Fee (%)</td>
            <td>Decommission Height</td>
            <td>Last Uptime Proof</td>
            <td>Blocks until Dereg.</td>
            <td>Country</td>
        </tr>
    </thead>

    <tbody>
        {%for sn in (inactive_sns | sort(attribute='earned_downtime_blocks,state_height,last_uptime_proof,service_node_pubkey'))[:limit_inactive]%}
            <tr>
                {%include 'include/sn_kcf.html'%}
                <td>{{sn.state_height}}</td>
                <td>{{sn.last_uptime_proof | from_timestamp | ago if sn.last_uptime_proof > 0 else "Not Received"}}</td>
                <td>{%if sn.decomm_blocks_remaining > 0%}{{sn.decomm_blocks_remaining}} ({{(sn.decomm_blocks_remaining * 120) | reltime}})
                        {%-else%}None (deregistration imminent!)
                        {%-endif%}</td>
                <td style="text-align:left;"><img style="width:15px;height:10px;" src="flags/{{sn.iso_code}}.png"> {{sn.country}}</td>
            </tr>
        {%endfor%}

        {%if limit_inactive and inactive_sns | count > limit_inactive%}
            <tr>
                <td class="sn-more" colspan="6"><a href="/service_nodes#service-nodes-inactive">+ {{inactive_sns | count - limit_inactive}} more ↪</a></td>
            </tr>
        {%endif%}
    </tbody>
</table>

