body {
    margin: 0;
    padding: 0;
    font-size: 80%;
    background-color: #1a1a1a;
    font-family: sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-weight: normal;
    margin-bottom: 0.2em;
}

.general_info {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 3px;
}
.nowrap-spans {
    text-indent: -2em;
    padding-left: 2em;
}
.nowrap-spans>span {
    white-space: nowrap;
}

.Subtitle {
    font-size: 1.0em;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.PaginationControl,
.PageButton {
    background-color: #008522;
    min-height: 1.5em;
    padding: 5px;
    padding-top: 8px;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1em;
    color: white;
    border: none;
    font-family: sans-serif;
}

.PageButton.disabled {
    background-color: #808080;
}

.PaginationControl select {
    font-size: inherit;
    background-color: #1a1a1a;
    color: #008522;
    border: none;
    padding: 0;
    margin: 0;
}

.PageButton:hover {
    background-color: #006a1b;
}
.PageButton.disabled:hover {
    background-color: #707070;
}

.Wrapper {
    width: 80%;
    margin: auto;
}

.Header {
    margin: 0;
}

.Header > a:link {
    text-decoration: none;
    color: white; !important
}

.Table {
    width: 100%;
}

table thead tr,
.TableHeader {
    font-weight: bold;
    background-color: #008522;
}

.TitleDivider {
    height: 2px;
    width: 100%;
    background-color: #008522;
    margin-bottom: 1em;
}

.LinkNoUnderline {
    text-decoration: none !important;
}

.LinkNoUnderline:hover {
    color: white;
}

.center {
    margin: auto;
    width: 96%;
    /*border: 1px solid #73AD21;
    padding: 10px;*/
}

tr, li, #pages, .info {
    height: 2em;
    margin: auto;
}

#pages {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

td {
    text-align: center;
}

a:link, a:visited {
    text-decoration: underline;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #78be20;
}

form {
    display: inline-block;
}

.style-1 input[type="text"] {
    padding: 2px;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: #1a1a1a;
    height: 2em;
    width: 80%;
    font-size: 1em;
    color: white;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #008522;
}
h1, h2, h3, h4, h5, h6 { color: white; }

.tabs {
    position: relative;
    min-height: 220px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: rgba(0, 133, 34, 0.5);
    padding: 10px;
    margin-right: 2px;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: #1a1a1a;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #008522;
}

[type=radio]:checked ~ label {
    background: #008522 ;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

input#toggle-1[type=checkbox] {
    position: absolute;
    /*top: -9999px;*/
    left: -9999px;

}
label#show-decoded-inputs {
    /*-webkit-appearance: push-button;*/
    /*-moz-appearance: button;*/
    /*margin: 60px 0 10px 0;*/
    cursor: pointer;
    display: block;
}

div#decoded-inputs{
}

/* Toggled State */
input#toggle-1[type=checkbox]:checked ~ div#decoded-inputs {
    display: block;
}

span.icon {
    cursor: help;
}
