:root {
    --primary-bg-color: #0b0a1a;
    --primary-fg-color: white;
    --primary-link-color: white;
    --primary-link-highlight-color: #12c7ba;
    --control-bg-color: #12c7ba;
    --control-fg-color: black;
    --control-highlight-link-color: #0c8b82;
    --control-highlight-bg-color: #dbf7f5;
    --control-highlight-fg-color: black;
    --text-highlight-color: #12c7ba;
    --header-bg-color: #12c7ba;
    --header-fg-color: black;
}


body {
    margin: 0;
    padding: 0;
    font-size: 80%;
    background-color: var(--primary-bg-color);
    font-family: sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-weight: normal;
    margin-bottom: 0.2em;
}

#header>#header-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 12px;
}
#header h1 {
    flex: 50%;
    min-width: 500px;
}
#header form.top-search {
    flex: 50%;
    min-width: 500px;
    display: flex;
}
#header form.top-search input[type="text"] {
    flex-grow: 1;
    flex-shrink: 1;
}
#header form.top-search input[type="submit"] {
    flex: 0 0 12ex;
    margin-right: 0;
}



.general_info {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 3px;
}
.info_list>span:not(:first-child):before {
    content: " | ";
}
.info_list>span {
    font-weight: bold;
}
.info_list>span>label {
    font-weight: normal;
}
.info_list>span>label.omg {
    font-weight: bold;
}
p>label, span>label, h3>label, h4>label, td>label, .info-item>label {
    color: var(--text-highlight-color);
}
label.warning {
    color: red;
}
.nowrap-spans {
    text-indent: -2em;
    padding-left: 2em;
}
.nowrap-spans>span {
    white-space: nowrap;
}
.info-item:before {
    content: " | ";
    white-space: nowrap;
}
.info-item {
    word-wrap: break-word;
    padding-left: 6em;
    text-indent: -4em;
}
.info-item>label {
    white-space: nowrap;
}

.Subtitle {
    font-size: 1.0em;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.PaginationControl,
.PageButton {
    background-color: var(--control-bg-color);
    min-height: 1.5em;
    padding: 5px;
    padding-top: 8px;
    margin-right: 1em;
    font-weight: bold;
    font-size: 1em;
    color: var(--control-fg-color);
    border: none;
    font-family: sans-serif;
}

.PageButton.disabled {
    background-color: #899897;
}

.PaginationControl select {
    font-size: inherit;
    background-color: var(--primary-bg-color);
    color: var(--primary-link-highlight-color);
    border: none;
    padding: 0;
    margin: 0;
}

.PageButton:hover {
    color: var(--control-highlight-fg-color);
    background-color: var(--control-highlight-bg-color);
}
.PageButton.disabled:hover {
    background-color: #707070;
}

.pages a:link, .pages a:visited {
    color: var(--control-fg-color);
}

.pages a:hover, .PageButton:hover {
    color: var(--control-highlight-link-color);
}

.Wrapper {
    width: 80%;
    margin: auto;
}

.Header {
    margin: 0;
}

.Header > a:link {
    text-decoration: none;
}

.Table {
    width: 100%;
}

table thead tr,
.TableHeader {
    font-weight: bold;
    color: var(--header-fg-color);
    background-color: var(--header-bg-color);
}

.TitleUnderliner {
    height: 2px;
    width: 100%;
    background-color: var(--control-bg-color);
    margin-bottom: 1em;
}
.TitleDivider {
    height: 2px;
    width: 100%;
    background-color: var(--control-bg-color);
    margin: 1em 0;
}

.linked-icon {
    text-decoration: none !important;
}

.center {
    margin: auto;
    width: 96%;
}

tr, li, .pages, .info {
    height: 2em;
    margin: auto;
}

.pages {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

td {
    text-align: center;
}

a:link, a:visited {
    text-decoration: underline;
    color: var(--primary-fg-color);
}

a:hover {
    text-decoration: underline;
    color: var(--control-bg-color);
}

form {
    display: inline-block;
}

.top-search input[type="text"] {
    padding: 2px;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: var(--primary-bg-color);
    height: 2em;
    width: 80%;
    font-size: 1em;
    color: white;
}

.top-search input[type="text"]:focus,
.top-search input[type="text"].focus {
    border: solid 1px var(--control-highlight-link-color);
}
h1, h2, h3, h4, h5, h6 { color: var(--primary-fg-color); }

.tabs {
    position: relative;
    min-height: 220px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: rgba(0, 133, 34, 0.5);
    padding: 10px;
    margin-right: 2px;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: #1a1a1a;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #008522;
}

[type=radio]:checked ~ label {
    background: #008522 ;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

input#toggle-1[type=checkbox] {
    position: absolute;
    /*top: -9999px;*/
    left: -9999px;

}
label#show-decoded-inputs {
    /*-webkit-appearance: push-button;*/
    /*-moz-appearance: button;*/
    /*margin: 60px 0 10px 0;*/
    cursor: pointer;
    display: block;
}

div#decoded-inputs{
}

/* Toggled State */
input#toggle-1[type=checkbox]:checked ~ div#decoded-inputs {
    display: block;
}

.Table.metadata td {
    text-align: left;
}

.Table.metadata label {
    text-align: right;
    display: inline-block;
    width: 50%;
}


td.sn-more {
    font-style: italic;
    font-size: 125%;
}

p.state-change-pubkey {
    font-size: 120%;
}
th.voter-signature, td.voter-signature {
    max-width: 300px;
}
td.voter-signature {
    overflow: hidden;
    text-overflow: ellipsis;
}

div.quorums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 -5px;
}

div.quorums>div {
    border: 2px solid var(--control-bg-color);
    border-radius: 5px;
    padding: 0;
    flex-grow: 1;
    margin: 5px;
}
div.quorums.obligations>div {
    flex-basis: 300px;
}
div.quorums.checkpoint>div {
    flex-basis: 200px;
}
div.quorums.pulse>div {
    flex-basis: 200px;
}
div.quorums.blink>div {
    flex-basis: 275px;
}
h4.curr-height {
    margin-top: 0px;
}

div.quorums>div>.validators,
div.quorums>div>.workers {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    /*justify-content: center;*/
    /*space-between;*/
}
.quorums.obligations .workers, .quorums.pulse .validators, .quorums.blink .validators.q1 {
    border-top: 2px solid var(--control-bg-color);
}
.quorums .workers label, .quorums .validators label {
    font-weight: bold;
}
.quorums .sn {
    display: block;
    flex-basis: 40px;
    max-width: 60px;
    flex-grow: 1;
    background-color: #a2a2a2;
    border: 1px solid #555;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: "";
    margin: 3px 3px;
    padding: 1px 1px 1px 1px;
    font-size: 10px;
    color: white;
    text-decoration: none;
}
.quorums .validators .sn {
    background-color: #777;
    border: 1px solid #aaa;
    color: white;
}
.quorums .sn:hover {
    background-color: var(--control-highlight-bg-color);
    border-color: var(--control-highlight-link-color);
    color: var(--control-highlight-fg-color);
}
.quorums.pulse .workers .sn {
    flex-grow: 1;
    max-width: 150px;
}
div.quorums h2 {
    background-color: var(--control-bg-color);
    color: var(--control-fg-color);
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
div.quorums>div.now h2 {
    background-color: var(--control-highlight-bg-color);
}
div.quorums>div.now, div.quorums.obligations>div.now .workers, div.quorums.blink>div.now {
    border-color: var(--control-highlight-bg-color);
}
div.quorums h5 {
    margin: 0;
}

td.quorum-pubkey span {
    display: inline-block;
    width: 80ex;
    text-align: left;
}

div.tx-state-change-quorum div.workers {
    border-top: 2px solid var(--control-bg-color);
}
div.tx-state-change-quorum div.validators .sn.voted,
div.tx-state-change-quorum div.workers .sn.testee {
    background-color: var(--control-bg-color);
    border-color: var(--control-fg-color);
    color: var(--control-fg-color);
}
.quorums div.tx-state-change-quorum .sn:hover {
    background-color: var(--control-highlight-bg-color) !important;
    border-color: var(--control-highlight-link-color) !important;
    color: var(--control-highlight-link-color) !important;
}

/*div.tx-state-change-quorum>div>.sn {
    flex-basis: 100px;
}*/


td span.checkpoint-signed { color: #008522; }
td span.checkpoint-not-signed { color: #c50022; }

.omg {
    font-weight: bold;
}

.pending-mempool-stakes .tx {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h3 .sn-count, h4 .sn-count {
    font-weight: bold;
}

.TXType {
  font-family: initial;
}

span.icon {
    cursor: help;
}

.comment {
    font-style: italic;
}

.syntax-highlight>pre {
    font-size: 125%;
    overflow-x: auto;
    tab-size: 4;
    -o-tab-size: 4;
    -moz-tab-size: 4;
    border: 1px solid var(--header-bg-color);
    padding: 10px;
}

.tx-inputs, .tx-outputs {
    max-width: 1000px;
    margin: auto;
}
tr.tx-input-key-image>td {
    padding-top: 1.5em;
}

.sn-details .sn-details-main {
    display: flex;
    flex-wrap: wrap;
}
.sn-details .sn-details-main .details {
    flex-grow: 1;
}
.sn-details .sn-details-main img.qr {
    flex-grow: 0;
}
